body,
html {
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    scroll-padding-top: 75px;
    overflow-x: hidden;
    max-width: 1850px;
    overflow-anchor: none;
    background-color: var(--page-bg);
    font-family: Lexend;
    color: var(--page-txt);
    margin-bottom: 0;
}

a {
    color: var(--page-lnk);
    text-decoration: none !important;
}

a:hover {
    color: var(--page-h-lnk) !important;
    text-decoration: underline !important;
}

a:visited {
    color: var(--page-v-lnk);
}

html {

    box-shadow: 0 0 12px #000000;
}

#ddmenu {
    z-index: 99999999;
    display: block;
    text-align: center;
    background-color: var(--head-bg);
    border-bottom: 2px solid var(--card-brd);
    position: fixed;
    width: 100%;
    max-width: 1850px;
    top: 0;
    backdrop-filter: blur(4px);
    line-height: 50px;
}

#ddmenu ul,
#ddmenu li {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

#ddmenu ul {
    z-index: 999999;
    text-align: left;
    width: 100%;
    display: inline-block;
    list-style: none;
    position: relative;
    height: 50px;
}

#ddmenu a {
    line-height: 50px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#ddmenu a:visited {
    color: var(--page-lnk) !important;
}

#ddmenu a:hover {
    color: #ffffff !important;
}

#ddmenu ul li {
    z-index: 999998;
    margin: 0px;
}

#ddmenu li {
    z-index: 999998;
    font-weight: 300;
    font-size: 16px;
    display: inline-block;
    position: relative;
    line-height: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

#ddmenu li:hover {
    background-color: #ffffff50 !important;
}

#ddmenu img a {
    padding-left: 0.4rem;
    padding-bottom: 0;
}

#header {
    width: 100%;
    max-height: 300px;
}

@media only screen and (max-width: 799px) {
    #header {
        padding-top: 0px;
    }
}

@media only screen and (min-width: 800px) {
    #header {
        padding-top: 40px;
    }
}

site-banner {
    display: flex;
    justify-content: left;
    min-height: 100px;
}

site-banner img {
    width: 100%;
}

#columnpage {
    display: flex;
    flex-direction:row-reverse;
    align-items: flex-start;
}

.sidebar {
    width: 325px;
    flex-shrink: 0;
    height: 100%;
    margin: 0.5rem;
}

.content {
    flex: 1;
}

section {
    margin: 0.5rem;
    background-color: var(--card-bg);
    border: 2px solid var(--card-brd);
}

.section-header {
    padding: 8px;
    border-bottom: 2px solid var(--card-brd);
    display: flex;
    justify-content: flex-start;
}

.section-header .avatar {
    width: 64px;
    height: 64px;
    margin-right: 8px;
}

.section-header h2 {
    line-height: 0;
    color: var(--head-txt);
}

.subtitle {
    color: var(--subt-txt);
}

.flavor {
    color: var(--flvr-txt);
}

.section-body {
    margin: 8px;
}

.section-footer {
    padding: 16px;
    border-top: 2px solid var(--card-brd);
}

.section-footer ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 5rem;
}

.section-footer li {
    display: block;
    width: 192px;
    flex: 0 0 192px;
}

.section-footer li a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    background-color: var(--bttn);
    border: 2px solid var(--bttn-brd);
    text-decoration: none !important;
    color: white !important;
    text-align: center;
}

.section-footer li a:hover {
    background-color: var(--bttn-h);
}

.shouts-page {
    margin: 0.5rem;
}

#footer {
    background-color: var(--foot-bg);
    color: var(--foot-txt) !important;
    border-top: 2px solid var(--foot-brd);
    padding: 10px;
    text-align: center;
}

#footer a {
    color: var(--foot-lnk) !important;
}

#footer a:hover {
    color: var(--foot-h-lnk) !important;
}

#footer a:visited {
    color: var(--foot-v-link) !important;
}